name: Deploy flask apppp

on:
  push:
    branches:
      - main 
  pull_request:
    branches:
      - main 
  
jobs:
  
  play:
    runs-on: ubuntu-latest

    steps:
    - name: Just play
      run: |
        echo "Checking out code..."

  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.13' 

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        pytest

    - name: Deploy to Server
      if: github.ref == 'refs/heads/main'  # Chỉ chạy khi push lên nhánh main   
      uses: appleboy/ssh-action@v0.1.8
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_KEY }}
        port: 22
        script: |
          cd /path/to/your/app
          git pull origin main
          pip install -r requirements.txt
          systemctl restart your-flask-app.service

  # Các công việc khác (nếu có)
  other_job:
    needs: deploy

    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
